<div class="container">
    <div class="row">
        <div class="col">

            <div class="banner d-flex justify-content-lg-center">
            <img src="https://i.imgur.com/toryDJM.png" title="source: imgur.com" class="img-fluid"/>
            </div>
            <div class="nome--social d-flex justify-content-lg-between align-items-center">
                <div>
                <p class="nome">Pet X, Diagnósticos por imagem.</p>
                </div>
                <div class="funcionamento">
                <h4 class="text-center">Atendimento</h4>
                <div class="opening-hours"><ul><li class="weekday">Segunda-feira <span class="right">09:00-18:00</span></li><li class="weekday">Terça-feira <span class="right">09:00-18:00</span></li><li class="weekday">Quarta-feira <span class="right">09:00-18:00</span></li><li class="weekday">Quinta-feira <span class="right">09:00-18:00</span></li><li class="weekday">Sexta-feira <span class="right">09:00-18:00</span></li><li class="weekday">Sábados <span class="right">09:00-13:00</span></li><li class="weekday">Domingo <span class="right">Fechado</span></li></ul>
                </div>
           </div>
                <div class="social p-5 img-fluid">
                    <img src="https://i.imgur.com/xeM54tX.png" title="source: imgur.com" class="p-3" />
                    <img src="https://i.imgur.com/ZncDvYU.png" title="source: imgur.com" />
                     </div>

                
            </div>



        </div>
    </div>
</div>

