<div class="d-flex justify-content-center">

    <div class="col-11 bg-color mt-5">
        
        <div class="container-fluid">


       
        <div class="card-group p-3">
            <div class="card">
              <img src="https://i.imgur.com/zJufz2t.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text p-3">Desenvolver com profissionalismo e excelência o melhor atendimento e serviços laboratoriais de imagem, buscando a satisfação de nossos clientes e parceiros.</p>
              </div>
            </div>
            <div class="card">
              <img src="https://i.imgur.com/jYlzBnc.png"  class="card-img-top" alt="...">
              <div class="card-body"> 
                <p class="card-text">Ser reconhecida pela excelência de atendimento, promovendo serviços com qualidade e sustentabilidade.</p> 
              </div>
            </div>
            <div class="card">
              <img src="https://i.imgur.com/yCe88d2.png" class="card-img-top" alt="...">
              <div class="card-body">
                
                <p class="card-text">Ética<br>
                    Empreendedorismo<br>
                    Responsabilidade<br>
                    Excelência<br>
                    Transparência<br>
                    Proatividade<br>
                    Parceria<br>
                    Respeito<br>
                    Humanização<br></p>
              </div>
            </div>
          </div>

          <div class="cosap d-flex justify-content-center align-items-center">
            <a href="https://imgur.com/jE7LkTG"><img src="https://i.imgur.com/jE7LkTG.png" title="source: imgur.com" class="img-fluid" /></a>
            <p class="text-cosap col-5">Em parceria com a COSAP da Prefeitura de São Paulo, a Pet X realizará atendimentos e exames gratuitos duas vezes por semana, todas as terças e quartas. 30% do subsídio dos atendimentos desta parceria, serão destinados para ONG’s de animais de rua.
            </p>
          </div>

       
        </div>
      
    </div>

</div>