<div class="d-flex justify-content-center">

    <div class="col-11 bg-color mt-5">
        
        <div class="container-fluid">

            <div class="local--form align-items-lg-center justify-content-md-between">
            <div class="map mt-lg-5">
                <h1>Localização</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14626.256213546309!2d-46.689862069688246!3d-23.584095704743998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5742bc832a29%3A0xa9323f13433864db!2sItaim%20Bibi%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1637161174379!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="if"></iframe>
            </div>
            <div class="formulario col p-5">
                <h1 class="p-2">Contato</h1>
                <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1"><h4>Endereço de email</h4></label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1"><h4>Seu Numero para contato</h4></label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Telefone">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1"><h4>Sua duvida</h4></label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-danger mt-3" type="button">ENVIAR</button>
                      </div>
                  </form>
            </div>
            

            </div>

            <div class="imgs img-fluid mt-5">
                <h1>Fotos do Local</h1>
                <div class="i1">  
                <a href="https://imgur.com/cYk7v3b"><img src="https://i.imgur.com/cYk7v3b.png" title="source: imgur.com" class="fotos" /></a>
                <a href="https://imgur.com/zlod4qB"><img src="https://i.imgur.com/zlod4qB.png" title="source: imgur.com" class="fotos"/></a>
                </div>
                <div class="i2">
                    <a href="https://imgur.com/1VkeLzF"><img src="https://i.imgur.com/1VkeLzF.png" title="source: imgur.com" class="fotos" /></a>
                    <a href="https://imgur.com/8At6uaW"><img src="https://i.imgur.com/8At6uaW.png" title="source: imgur.com" class="fotos" /></a>
                </div>
    

            </div>
        
       
        </div>
      
    </div>

</div>
