<div class="div d-flex justify-content-center">

    <div class="home col-11 bg-color">
        <div id="carouselExampleControls" class="carousel slide p-3 mt-3" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://i.imgur.com/pGn5llO.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://i.imgur.com/4K1J7k9.png?1" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://i.imgur.com/fp0WMVW.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        
        <div class=".container-fluid">
            <div>
              <p class="qs">Quem Somos<p>
            </div> 
            <div class="row-cols-8 d-flex justify-content-center align-items-center p-3">
            <img src="https://i.imgur.com/EeHxik6.png" class="img1 rounded float-left img-fluid" title="source: imgur.com"/>
            <p class="text-1">Localizado no bairro do Itaim Bibi na cidade de São Paulo, a Pet X presta serviços de excelência em diagnósticos por imagem. Contamos com uma instalação moderna e ampla, com equipamentos de última tecnologia e um time profissional altamente qualificado, visando sempre um atendimento de qualidade e satisfação.</p>  
        </div>

        <div class="row-cols-8 d-flex justify-content-center align-items-center p-3">
            <p class="text-1">Nossa prioridade é transmitir carinho e tranquilidade, garantindo que seu PET tenha o melhor atendimento.
              Contamos com um time altamente qualificado e que amam o que fazem.
             </p>  
            <img src="https://i.imgur.com/Xl4rzdI.jpg" class="img1 rounded float-left img-fluid" title="source: imgur.com"/>
            
        </div>
        </div>
        <div class="parcerias p-5">
          <h3>CONVÊNIOS E PARCERIAS:</h3>
          <a href="https://imgur.com/U0Bkntt"><img src="https://i.imgur.com/U0Bkntt.png" title="source: imgur.com" class="mt-5 center img-fluid"/></a>
        </div>

    </div>

</div>